@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'mixins';
@import 'variables';

body,html{
	position:relative;
	min-height:100%;
	color: @text-color;
}

/*
 Typography
*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: futura-pt, 'Open Sans', sans-serif;
	font-weight: 600;
}

p{
	&.caption{
		font-family: @base-font;
	}
}

/*
 Utils
*/
.btn-eton:hover, .btn-eton:focus, a:hover, a:focus{
	outline:0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}