@import '../../assets/variables';
@import '../../assets/mixins';

footer-component{
	& > div {
		margin:.5rem 0;
		&.footer-nav{
			margin:0 1rem;
			& .col{
				text-align: center;
				& a{
					text-transform:capitalize;
				}
			}
		}
		&.footer-social{
			& .input-group{
				.flex-container;
				.flex-flow(@direction:row,@wrap:nowrap);
				.flex-justify-content(@justify:center);
				& input{
					max-width: 50%;
					border: .2rem solid @blue;
					border-radius: 0;
					.placeholder(@font-family-base:@caption-font,@font-style:italic);
				}
				& .input-group-addon {
					background-color:@blue;
					border: .2rem solid @blue;
					border-radius:0;
					font-size: .8rem;
					font-weight: 400;
					letter-spacing: .08rem;
					color:@white;
					text-transform:uppercase;
				}
			}
			& .social-icons{
				.flex-container;
				.flex-flow(@direction:row,@wrap:nowrap);
				.flex-justify-content(@justify:center);
				font-size: 2rem;
				color:@text-color-lighter;
				& > div{
					width: 1.5em;
					height: 3rem;
					border-radius: 1.5rem;
					margin: 1rem;
					background-color:@text-color-lighter;
					text-align:center;
					& > i {
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 1.25rem;
						margin-top: .25rem;
						padding-top: .25rem;
						background-color:@white;
					}
				}
			}
		}
		&.footer-menu{
			& > ul{
				& li{
					font-size:.7rem;
					font-weight:600;
					text-align:center;
					text-transform:uppercase;
				}
			}
		}
		&.payment-opt{
			.flex-container;
			.flex-flow(@direction:row,@wrap:nowrap);
			.flex-justify-content(@justify:center);
			& img{
				margin:.3rem;
			}
		}
		&:last-child{
			font-size:.8rem;
			color:@text-color-lighter;
			text-align:center;
		}
	}
}
