<hr>

<div class="footer-nav">
	<span>
		<a class="">A</a>
	</span>
	<span>
		<a class="">B</a>
	</span>
	<span>
		<dropdown-component list="vm.listOfCountries"
		                    item="vm.selectedCountry">
			<dd-item>
				<span class="flag-icon" ng-class="'flag-icon-se' + country.code"></span>
				{{ vm.selectedCountry.name }}
			</dd-item>
			<dd-menu>
				<li class="list-unstyled"
				    ng-click="vm.updateCountry(country)"
				    ng-repeat="country in vm.listOfCountries">
					<span class="flag-icon" ng-class="'flag-icon-se' + country.code"></span>
					{{ country.name }}
				</li>
			</dd-menu>
		</dropdown-component>
	</span>
</div>

<hr>

<div class="footer-social">
	<div class="input-group">
		<input type="text" class="form-control"
		       placeholder="Your email"
		       aria-describedby="basic-addon2">
		<span class="input-group-addon" id="basic-addon2">subscribe</span>
	</div>
</div>

<hr>

<div class="footer-menu">
	<ul class="list-unstyled">
		<li>customer care</li>
		<li>press</li>
		<li>pr agencies</li>
		<li>career</li>
		<li>retailers</li>
	</ul>
</div>

<hr>

<div class="payment-opt">
		<img ng-src="/img/visa_logo.png" />
		<img ng-src="/img/mastercard_logo.png" />
		<img ng-src="/img/amex_logo.png" />
		<img ng-src="/img/paypal_logo.png" />
</div>

<div>
	<p>© 2017 Eton. All rights reserved.</p>
</div>