@import '../../../assets/variables';
@import '../../../assets/mixins';

.home-component{
	& > .jumbo{
		text-align:center;
		& > img{
			min-width:100%;
			height:auto;
		}
		& h6{
			margin:1rem 0;
		}
	}
}